__pycache__/
*.py[cod]
*.so
*.dylib
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/

/data/
/runs/
/outputs/
/wandb/
/tests/
/configs/config_train_supervised.yaml
/solvers/glucose/parallel/
/solvers/glucose_weighted/parallel/
*.log
*.csv
*.pt
*.pth
*.ckpt

*.o
*.or
*.od
*.op
depend.mk
glucose_static
glucose_release

.hydra/
.tmp/
tmp/
*.pdf
*.tar.gz
*.zip
